body {
    background-color: rgb(26, 26, 26); 
    color:rgb(123, 255, 0); 
    width: 100%; 
}

h1 {
   color:rgb(255, 0, 43)
}

img {
    width: 50%;
}

td {
    padding: 10px;
    background-color: rgba(235, 235, 235, 0.139);
}

th {
    background-color: rgba(235, 235, 235, 0.139);

}

#paragrafo-1 {
    color: rgb(255, 255, 255);
}

#titulo {
    font-size: 60px;
}



